body{
	background-color: black;
	display: inline-block;
}
body.background{
	min-height:100%;
	height:100%;
}
.errorMessages{
	color: yellow;
	font-family:SimHei;
	text-align: left;
}
.header {
	text-align: right;
	width:1300px;
	margin: 0 auto;
	background-color: plum;
	display: inline-block;
	color: white;
}
.title {
	text-align: left;
	color: black;
	font-size: 30px;
}
.users {
  background-color: pink;
  counter-reset:number;
  list-style-type: none!important;

  border: solid 8px yellow;
}
.users li {
  position: relative;
  padding: 0.5em 0.5em 0.5em 35px;
  line-height: 1.5em;
}
.users li:before {
 position: absolute;
  counter-increment: number;
  content: counter(number);
  display:inline-block;
  background: #5c9ee7;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.users li:after {
	content: '';
  display: block;
  position: absolute;
  left: 20px;
  height: 0;
  width: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 12px solid #5c9ee7;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.inline-block {
	text-align: center;
    display: inline-block;
    background-color:  pink;
    padding:  20px;
    width: 160px;
    height: 50px;
    font-weight:700;
    border: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
