body{
	background-color: black;
}
body.background{
	min-height:100%;
	height:100%;
}
.errorMessages{
	color: yellow;
}
.form-area {
	color: white;
}
.main-contents {
	color: blue;
}
.title {
	color: blue;
  padding: 0.5em;
  display: inline-block;
  line-height: 1.3;
  background: orange;
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}
.title:before {
  content: '●';
  color: white;
  margin-right: 8px;
}
.messa {

	color: yellow;
	line-height: 1.3;
	font-size:  40px;
	transform: rotate(+10deg);
	text-align: center;

}
