body{
	background-color: black;
}
body.background{
	min-height:100%;
	height:100%;
}
.errorMessages{
	color: #FFFF00;
	font-family:SimHei;
}
.pagebody {
	width:796px; margin:0 auto;
	text-align:left;
	background-image:url("images/bg_pagebody.gif");
	background-repeat:repeat-y;
	background-color:#ffffff;
}
.header {
	height:77px;
	background-image:url("images/bg_header.jpg");
	background-repeat:no-repeat;
	background-color:#cccccc;
}
.main-contents {
	display:inline-block;
	padding: 25px;
	background-color: black;
	color:pink;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translateY(-50%) translateX(-50%);
  	-webkit- transform: translateY(-50%) translateX(-50%);
}
.heading {
	position: relative;
	margin-bottom: 2.5em;
	margin-top: 1em;
	line-height: 2em;
	text-align: center;
}
.sign-up {
  position: relative;
  text-align: center;
  margin: 50px auto;
  width: 280px;
  padding: 33px 25px 29px;
  background: blue;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.back {
	position: absolute;
  	top: 75%;
  	left: 50%;
  	transform: translateY(-50%) translateX(-50%);
  	-webkit- transform: translateY(-50%) translateX(-50%);
  	bottom: 50;
}