body{
	background-color: black;
	display: inline-block;
}
body.background{
	min-height:100%;
	height:100%;
}
.errorMessages{
	color: #FFFF00;
	font-family:SimHei;
}
.pagebody {
	width:1000px;
	margin: 0 auto;
	background-color: plum;
}
.header {
	height:77px;
}

.logname {
	height:77px;
	text-align: right
}
.heading {
	position: relative;
	margin-bottom: 2.5em;
	margin-top: 1em;
	line-height: 2em;
	text-align: center;
}
.subbody{
	background: black;
}
.submenu_body {
	width:300px;
	display:inline;
	float:left;
	background: pink;
}
.messages {
	display: inline-block;
	float:right;
	background: coral;
	width:700px;
	text-align: center;
}
.messages {
word-break: break-all;
}
.form-area{
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}
.billboardarea{
	width:700px;
	text-align: left;
}
.commentarea {
  padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
}
.commentview {
    padding: 0.5em 1em;
    font-weight: bold;
    color: #6091d3;
    border: solid 3px #6091d3;
    border-radius: 10px;
     margin: 2em 0;
    background: #dcefff;
}
.billboardname {

border-top: solid 5px blue;
border-bottom: solid 5px blue;
}
.date {
	text-align: right;
}
.box-title {
	font-size: 1.2em;
    background: #5fb3f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
